html, body {
	font-size: 12px;
	color: black;
	font-family: 'Franklin Gothic', sans-serif;
	margin: 0;
	background-color: #ea0b0b;
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	margin: 0;
	height: 350px;
	background-color: #ea0b0b;
	padding: 0 50px 0 50px;
	border-bottom: 5px white solid;
}

.top--holder__header {
	width: 100%;
	height: 100px;
}

.logo {
	margin-top: 15px;
	color: white;
	font-family: 'Franklin Gothic', sans-serif;
	font-size: 22px;
	font-stretch: condensed;
	font-weight: 600;
	text-transform: uppercase;
	float: left;
	max-width: 30%;
}

.navigation__header {
	margin-top: 20px;
	width: 50%;
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	float: right;
}

.navigation__element a {
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Franklin Gothic Demi', sans-serif;
	font-stretch: condensed;
	font-weight: 600;
	text-decoration: none;
}

.navigation__element a:hover {
	color: #ea0b0b;
	background-color: white;
	transition: all 1s;
}

.heading__header1 {
	color: white;
	text-align: right;
	margin-top: 60px;
	font-size: 40px;
}

.heading__header2 {
	color: white;
	text-align: right;
	margin-bottom: 60px;
	font-size: 40px;
}


@keyframes leftright {
	50% {
		background-position: left;
	}
	100% {
		background-position: center;
	}
}

.destination--holder {
	overflow: hidden;
	height: 350px;
	width: 100%;
	background-image: url(../img/destination.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-bottom: 5px solid white;
	animation-name: leftright;
	animation-delay: 5s;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

.destination--holder__highlight {
	margin-top: 117px;
	height: 117px;
	width: 50%;
	background-color: rgba(255, 255, 255, 0.3);
}

.destination--holder__informator {
	color: black;
	margin: 0 10px 0 0;
	text-align: right;
	font-size: 20px;
	text-transform: uppercase;
	font-stretch: condensed;
	font-weight: 600;
	padding-top: 5px;
}

.destination--holder__destination {
	color: black;
	margin: 0 10px 0 0;
	text-align: right;
	font-size: 40px;
	text-transform: uppercase;
	font-stretch: condensed;
	font-weight: 600;
	padding-top: 5px;
}

.destination--holder__description {
	color: black;
	margin: 0 10px 0 0;
	text-align: right;
	font-size: 15px;
	text-transform: uppercase;
	font-stretch: condensed;
	font-weight: 600;
	padding-top: 5px;
}

.head--site {
	width: 100%;
	display: flex;
	flex-wrap: no-wrap;
}

.news--holder {
	margin-left: 5%;
	max-width: 55%;
	max-height: 600px;
	overflow: hidden;
}

.news--holder__main {
	background-image: url('../img/main--news.jpg');
	background-size: cover;
	background-position: center;
	margin: 30px 10px 10px 10px;
	max-width: 100%;
	height: 300px;
	box-shadow: 2px -4px 32px -5px rgba(0,0,0,0.75);
	border: 5px white solid;
}

.news--smallerholder {
	display: flex;
	wrap: no-wrap;
	justify-content: space-around;
}

.news--holder__left {
	background-image: url('../img/main--news.jpg');
	background-size: cover;
	background-position: top right;
	margin: 10px 10px 10px 0;
	height: 200px;
	border: 5px red solid;
	box-shadow: 2px -4px 32px -5px rgba(0,0,0,0.75);
	border: 3px white solid;
}

.news--holder__right {
	background-image: url('../img/main--news.jpg');
	background-size: cover;
	background-position: top right;
	margin-top: 10px;
	height: 200px;
	border: 5px black solid;
	box-shadow: 2px -4px 32px -5px rgba(0,0,0,0.75);
	border: 3px white solid;
}

.news--holder__left:hover, .news--holder__right:hover,.news--holder__main:hover {
	background-position: left;
	transition: 2s;
}

.news--holder__title {
	margin-top: 10px;
	color: black;
	font-family: 'Franklin Gothic', sans-serif;
	font-size: 3vw;
	font-stretch: condensed;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.4);
	text-align: center;
}

.news--holder__description {
	color: white;
	font-family: 'Franklin Gothic', sans-serif;
	font-size: 2vw;
	font-stretch: condensed;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
}

.news--rank {
	display: block;
	margin: 0 auto;
	width: 25%;
	height: 600px;
	overflow: hidden;
}

.news--rank__heading {
	background-color: white;
	color: #ea0b0b;
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	font-stretch:condensed;
}

.news--rank__list {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 20px;
}

.news--rank__element {
	background-color: white;
	margin-top: 0;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
	color: #ea0b0b;
	font-stretch:condensed;
}

.mid--site {
	border-top: 5px solid white;
	height: 100%;
	width: 100%;
	display: block;
}

.mid--site__heading {
	background-color: white;
	color: #ea0b0b;
	text-align: center;
	text-transform: uppercase;
	font-stretch:condensed;
	text-align: center;
	font-size: 34px;
	padding: 0 0 5px 0;
	margin: 5px 0 0 0;
}

.mySlides {
	max-width: 100%;
}


/* For <790px */
@media all and (max-width: 790px){

header {
	height: 100%;
}

.top--holder__header {
	width: 100%;
	height: 100px;
}

.logo {
	float: left;
	width: 100%;
}

.navigation__header {
	width: 100%;
	display: inline-block;
	text-align: right;
}

.navigation__element a {
	font-size: 20px;
}


.heading__header1 {
	text-align: left;
	margin-top: 30px;
	font-size: 30px;
}

.heading__header2 {
	text-align: left;
	margin-bottom: 30px;
	font-size: 30px;
}

.destination--holder__highlight {
	height: 165px;
	width: 100%;
}

.head--site {
	margin-top: 10px;
	width: 100%;
	display: block;
}

.news--holder {
	margin: 0 5% 0 5%;
	max-width: 100%;
	max-height: 900px;
}

.news--smallerholder {
	display: block;
}

.news--holder__left {
	margin: 15px auto;
	width: 90%;
}

.news--holder__right {
	margin: 15px auto;
	width: 90%;
}

.news--holder__title {
	font-size: 30px;
}

.news--holder__description {
	font-size: 20px;
}

.news--rank {
	margin: 0 5% 0 5%;
	width: 90%;
	max-height: 1000px;
}

.news--rank__list {
	width: 100%;
	text-align: center;
}
.mid--site {
	max-height: 300px;
}

.mySlides {
	width: 100%;
}
}

